.homePageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePageTitle {
    margin-top: 20px;
    width: 333px;
    height: 75px;
    text-align: center;
    background-color: #3DB6FB;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.modeSelectDiv {
    margin-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modeButton {
    margin: 15px;
    width: 150px;
    height: 160px;
    background-color: white;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
    text-align: center;

    color: black;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}